# binary stuff
*.o
objects
a.out*
/checker
/push_swap
# libraries
*.a
*.dylib
*.swiftdoc
*.swiftmodule

# subject
subject.pdf

# macos garbage
.DS_Store

# vim utils
*.swp
*.vim

# ctags
tags

# lsp info
compile_commands.json
/.cache

# debug
.gdb_history
